@media (max-width: 530px) {

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0;
  margin: 0;
}

nav {
  display: hidden;
}

button {
  background-color: white;
  border-radius: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  height: 7vh;
  margin-top: 1.8vh;
  margin: 10px auto;
  outline: none;
  width: 92%;
}

input {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 5vh;
  outline: none;
  width: 60%;
}

h1 {
  font-size: 5vh;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
}

h2 {
  font-size: 14px;
}

p {
  font-size: 10px;
}

h4 {
  font-size: 2vh;
  font-weight: normal;
  line-height: 3vh;
}

svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

h5 {
  font-size: 4vh;
  text-align: center;
  position: absolute;
  margin-left: 9.3vh;
  margin-top: 11vh;
}


.bg {
  display: none;
}

.circle_animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.html .circle_animation {
  -webkit-animation: html 1s ease-out forwards;
  animation: html 1s ease-out forwards;
}

.css .circle_animation {
  -webkit-animation: css 1s ease-out forwards;
  animation: css 1s ease-out forwards;
}

@-webkit-keyframes html {
  to {
      stroke-dashoffset: 80;
  }
}

@keyframes html {
  to {
      stroke-dashoffset: 80;
  }
}

@-webkit-keyframes css {
  to {
      stroke-dashoffset: 160;
  }
}

@keyframes css {
  to {
      stroke-dashoffset: 160;
  }
}

.html {
  display: none;
}

.item h2 {
  line-height: 125px;
  margin-left: 9.3vh;
  position: absolute;
  text-align: center;
}

.arrowRight {
  font-size: 6vh !important;
  margin-left: 50%;
  margin-top: 7.5vh;
  position: absolute;
}

.arrowLeft {
  font-size: 6vh !important;
  margin-left: -25%;
  margin-top: 8vh;
  position: absolute;
}

.projects {
  margin-left: 13vw;
  width: 2vh;
}

.projects p {
  font-size: 12px;
  line-height: 4.2vh;
}

.barChart {
  display: flex;
}

.searchBox {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  margin: 5px auto;
  width: 95%;
}

.searchIcon {
  display: none !important;
}

.logo {
  margin-left: 8vh;
  width: 32vh;
}

.hover {
  cursor: pointer;
}

.icon {
  border-radius: 50%;
  border: none;
  height: 3vh;
  width: 3vh;
}

.iconTop {
  margin-top: 1vh;
}

.oculto {
  margin-top: 1vh;
}

.title {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  width: 100%;
}

.studioName {
  margin: 10px auto;
  width: 90%;
}

.graph {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  height: 30vh;
  justify-content: space-evenly;
  margin: 2vh 0vh 1vh;
  width: 70%;
}

.years {
  border: none;
  height: 2vh;
  margin-left: 15vw;
}

.graph img {
  width: 48vw;
}

.stat {
  border-bottom: 1px solid blue !important;
  border: none !important;
  margin-left: 37vw !important;
  width: 20vh !important;
}

.barGraph {
  width: 7%;
  background: linear-gradient(to bottom, #cccccc57 0%, #cccccc73 30%, #0484e5 31%, #0484e5 100%);
}

.barM {
  background: linear-gradient(to bottom, #cccccc57 0%, #cccccc73 79%, #0484e5 80%, #0484e5 100%);
}

.barT {
  background: linear-gradient(to bottom, #cccccc57 0%, #cccccc73 59%, #0484e5 60%, #0484e5 100%);
}

.barW {
  background: linear-gradient(to bottom, #cccccc57 0%, #cccccc73 69%, #0484e5 70%, #0484e5 100%);
}

.barTh {
  background: linear-gradient(to bottom, #cccccc57 0%, #cccccc73 49%, #0484e5 50%, #0484e5 100%);
}

.barF {
  background: linear-gradient(to bottom, #cccccc57 0%, #cccccc73 34%, #0484e5 35%, #0484e5 100%);
}

.inner h2 {
  font-size: 3vh;
}

.statistics {
  margin-bottom: 3vh;
  margin-top: 3vh;
  margin: auto;
  padding-left: 32vw;
}

.statistics img {
  border-radius: 50%;
  height: 20vh;
  margin: 0;
  width: 130%;
}

.longButton input {
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  height: 7vh;
  margin-top: 1.8vh;
  margin: 10px auto;
  width: 92%;
}

.bar {
  background-color: #0d99fe;
  display: flex;
  height: 7vh;
  margin-left: 4%;
  padding: 2.3vh;
  width: 92%;
}

.bar h3 {
  color: white;
  margin: 0;
}

.description {
  background-color: #d3d3d32e;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin: 15px auto;
  padding-bottom: 7vh;
  padding: 1vh;
  width: 92%;
}

.menu {
  background-color: white;
  border-top: 1px solid lightgrey;
  display: flex;
  height: 11vh;
  justify-content: space-evenly;
  padding-top: 1.3vh;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.link {
  margin-right: 1vh;
  vertical-align: text-top;
}

.socialMedia {
  margin-top: 3.5vh;
  padding-bottom: 8vh;
  position: absolute;
  width: 100%;
}

.studio {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1.5vh;
  padding-top: 1vh;
}

.edit {
  letter-spacing: 1vh;
  margin: 5vh 0vh 2vh;
  text-align: right;
  vertical-align: baseline;
  width: 96%;
}

.socialMedia h1 {
  font-size: 4vh;
  margin-left: 3vh;
}

.asana {
  background-image: url('http://www.movingbrands.com/wp-content/uploads/2015/10/Asana_Logo_positive-full2.png');
  background-image: url(http://www.movingbrands.com/wp-content/uploads/2015/10/Asana_Logo_positive-full2.png);
  background-size: 24vh;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  display: block;
}

.monday {
  background-image: url('https://www.veracityagency.com/wp-content/uploads/monday-com-logo.png');
  background-size: 19vh;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  display: block;
}

.todoist {
  background-image: url('https://upload.wikimedia.org/wikipedia/de/f/fe/Todoist-lockup_positive.png');
  background-size: 24vh;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 6vh;
}

.open {
  border-radius: 99px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
  display: inline-block;
  font-size: 2vh;
  height: 4vh;
  margin: 0;
  vertical-align: top;
  width: 12vh;
}

.open:hover {
  border: 1px solid #0d99fe;
}

.editButton {
  font-size: 14px !important;
  height: 2.8vh;
  margin-left: 2vh;
  opacity: .8;
}

.editText {
  font-size: 15px !important;
  vertical-align: top;
}

.openButton {
  color: green;
  font-size: 18px !important;
  margin-right: 5px;
  vertical-align: top;
}

.shareBox {
  margin-bottom: 4vh;
  margin: 10px auto;
  width: 90%;
}

.longButton {
  display: flex;
}

.smallButton {
  background-color: #0d99fe;
  color: white;
  cursor: pointer;
  width: 20%;
}

.profile {
  background-image: url('images/0P5A9182 copy.jpg');
  background-size: contain;
  border: 1px solid black;
  height: 4.4vh;
  margin-left: 2vh;
  margin: .3vh;
  width: 4.4vh;
}

.add {
  background-image: url('images/add-circular-button.svg');
  background-size: contain;
}

.map {
  background-image: url('images/placeholder.svg');
  background-size: contain;
}

.help {
  background-image: url('images/info.svg');
  background-size: contain;
}

.graphic1 {
  background-image: url('images/Untitled design (1).png');
  background-size: contain;
  height: 18vh;
  width: 40%;
}

.graphic2 {
  background-image: url('images/Untitled design (2).png');
  background-size: cover;
  height: 18vh;
  width: 19vh;
}

.graphic3 {
  background-image: url('images/Untitled design copy.png');
  background-size: contain;
  height: 18vh;
  width: 40%;
}

.location {
  display: flex;
  margin-left: 35%;
  margin-top: -15px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;

  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;

  font-feature-settings: 'liga';
}

.material-icons:hover {
  color: #0d99fe;
}

.selected {
  background-color: black;
}

.hidden {
  display: none !important;
}
}