@media (max-width: 530px) {

body{
font-size: 0;
margin: 0;
font-family: 'Roboto', sans-serif;
}

nav{
display: hidden;
}

button{
font-family: 'Roboto', sans-serif;
width: 92%;
height: 7vh;
margin: 10px auto;
margin-top: 1.8vh;
border-radius: 0;
outline: none;
background-color: white;
cursor:pointer;
}

input{
width: 60%;
height: 5vh;
font-family: 'Roboto', sans-serif;
font-size: 14px;
outline: none;
}

h1{
font-size: 5vh;
}

h3{
font-size: 18px;
margin-bottom: 10px;
margin-top: 20px;xf
}

h2{
font-size: 14px;
}

p{
font-size: 10px;
}

h4{
font-size: 2vh;
font-weight: normal;
line-height: 3vh;
}

svg {
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
}

h5{
font-size: 4vh;
text-align: center;
position: absolute;
margin-left: 8.5vh;
margin-top: 10vh;
}


.bg{
display: none;
}

.circle_animation {
stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
stroke-dashoffset: 440;
}

.html .circle_animation {
-webkit-animation: html 1s ease-out forwards;
animation: html 1s ease-out forwards;
}

.css .circle_animation {
-webkit-animation: css 1s ease-out forwards;
animation: css 1s ease-out forwards;
}

@-webkit-keyframes html {
to {
stroke-dashoffset: 80; /* 50% would be 220 (half the initial value specified above) */
}
}

@keyframes html {
to {
stroke-dashoffset: 80;
}
}

@-webkit-keyframes css {
to {
stroke-dashoffset: 160;
}
}

@keyframes css {
to {
stroke-dashoffset: 160;
}
}

.html{
display: none;
}

.item h2 {
text-align:center;
position: absolute;
line-height: 125px;
margin-left: 8.5vh; 
}

.arrowRight{
position: absolute;
font-size: 6vh !important;
margin-left: 50%;
margin-top: 7.5vh;
}

.arrowLeft{
position: absolute;
font-size: 6vh !important;
margin-left: -25%;
margin-top: 8vh;
}

.projects{
width: 2vh;
margin-left: 9vh;
}

.projects p{
line-height: 4.2vh;
font-size: 12px;
}

.barChart{
display: flex;
}

.searchBox{
margin: 5px auto;
width: 95%;
display:flex;
justify-content: space-between;
margin-top: 2vh;
}

.searchIcon{
display: none !important;
}

.logo{
width: 32vh;
margin-left: 18vw;
}

.hover{
cursor: pointer;
}

.icon{
width: 3vh;
border-radius: 50%;
height: 3vh;
border: none;
}

.iconTop{
margin-top: 1vh;
}

.oculto{
margin-top: 1vh;
}

.title{
display: flex;
justify-content: space-between;
width: 100%;
height: 20vh;
}

.studioName{
width: 90%;
margin:10px auto;
}

.graph{
width: 70%;
height: 30vh;
display: flex;
margin: 2vh 0vh 1vh;
justify-content: space-evenly;
border-left: 3px solid black;
border-bottom: 3px solid black;
}

.years{
border: none;
height: 2vh;
margin-left: 11vh;
}

.graph img{
width: 48vw;

}

.stat{
margin-left: 37vw !important;
width: 20vh !important;
border-bottom: 1px solid blue !important;
border: none !important;
}

.barGraph{
width: 7%;
background: linear-gradient(to bottom, #cccccc57 0%,#cccccc73 30%,#0484e5 31%,#0484e5 100%); 
}

.barM{
background: linear-gradient(to bottom, #cccccc57 0%,#cccccc73 79%,#0484e5 80%,#0484e5 100%); 
}

.barT{
background: linear-gradient(to bottom, #cccccc57 0%,#cccccc73 59%,#0484e5 60%,#0484e5 100%); 
}

.barW{
background: linear-gradient(to bottom, #cccccc57 0%,#cccccc73 69%,#0484e5 70%,#0484e5 100%); 
}

.barTh{
background: linear-gradient(to bottom, #cccccc57 0%,#cccccc73 49%,#0484e5 50%,#0484e5 100%); 
}

.barF{
background: linear-gradient(to bottom, #cccccc57 0%,#cccccc73 34%,#0484e5 35%,#0484e5 100%); 
}

.inner h2{
font-size: 3vh;
}

.statistics{
padding-left: 32vw;
margin: auto;
margin-top: 3vh;
margin-bottom: 3vh;
}

.statistics img{
width: 130%;
height: 20vh;
margin: 0;
border-radius: 50%;

}

.longButton input{
font-family: 'Roboto', sans-serif;
width: 92%;
height: 7vh;
margin: 10px auto;
margin-top: 1.8vh;
border-radius: 0;
font-size: 2vh;
}

.bar{
width: 92%;
height:7vh;
background-color: #0d99fe;
margin-left: 4%;
display:flex;
padding: 2.3vh;
}

.bar h3{
color:white;
margin:0;
}

.description{
width: 92%;
margin: 15px auto;
display: flex;
justify-content: space-between;
background-color: #d3d3d32e;
padding: 1vh;
margin-top: 0;
padding-bottom: 7vh;
}

.menu{
width: 100%;
height: 9vh;
background-color: white;
display: flex;
justify-content: space-evenly;
position: fixed;
padding-top: 2vh;
z-index: 3;
margin-top: -6vh;
border-top: 1px solid lightgrey;
}

.link{
vertical-align: text-top;
margin-right: 1vh;
}

.socialMedia{
width: 100%;
margin-top: 3.5vh;
position: absolute;
padding-bottom: 8vh;
}

.studio{
padding-top: 1vh;
border-bottom: 1px solid lightgrey;
padding-bottom: 1.5vh;
}

.edit{
width: 96%;
margin: 5vh 0vh 2vh;
text-align: right;
letter-spacing: 1vh;
vertical-align: baseline;
}

.socialMedia h1{
font-size: 4vh;
margin-left: 3vh;
}

.asana{
background-image: url('http://www.movingbrands.com/wp-content/uploads/2015/10/Asana_Logo_positive-full2.png');
background-image: url(http://www.movingbrands.com/wp-content/uploads/2015/10/Asana_Logo_positive-full2.png);
background-size: 24vh;
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;
display: block;
}

.monday{
background-image: url('https://www.veracityagency.com/wp-content/uploads/monday-com-logo.png');
background-size: 19vh;
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;
display: block;
}

.todoist{
background-image: url('https://upload.wikimedia.org/wikipedia/de/f/fe/Todoist-lockup_positive.png') ;
background-size: 24vh;
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;
display: block;
margin-bottom: 6vh;
}

.open{
width: 12vh;
height: 4vh;
border: 1px solid #d3d3d3;
vertical-align: top;
font-size: 2vh;
border-radius: 99px;
display:inline-block;
margin:0;
cursor: pointer;
}

.open:hover{
border: 1px solid #0d99fe;
}

.editButton{
margin-left: 2vh;
font-size: 14px !important;
opacity: .8;
height: 2.8vh;
}

.editText{
font-size: 15px !important;
vertical-align: top;
}

.openButton{
color: green;
font-size: 18px !important;
vertical-align: top;
margin-right: 5px;
}

.shareBox{
width: 90%;
margin: 10px auto;
margin-bottom: 4vh;
}

.longButton{
display: flex;
}

.smallButton{
width: 20%;
background-color: #0d99fe;
color:white;
cursor: pointer;
}

.profile{
background-image: url('images/0P5A9182 copy.jpg');
background-size: contain;
width: 4.4vh;
height: 4.4vh;
margin-left: 2vh;
border: 1px solid black;
margin: .3vh;
}

.add{
background-image: url('images/add-circular-button.svg');
background-size: contain; 
}

.map{
background-image: url('images/placeholder.svg');
background-size: contain; 
}

.help{
background-image: url('images/info.svg');
background-size: contain; 
}

.graphic1{
background-image: url('images/Untitled design (1).png');
background-size: contain;
width: 40%;
height: 18vh;
}

.graphic2{
background-image: url('images/Untitled design (2).png');
background-size: cover;
width: 19vh;
height: 18vh;
}

.graphic3{
background-image: url('images/Untitled design copy.png');
background-size: contain;
width: 40%;
height: 18vh;
}

.location{
display: flex;
margin-left: 35%;
margin-top: -15px;
}

@font-face {
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
src: local('Material Icons'),
local('MaterialIcons-Regular'),
url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;  /* Preferred icon size */
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
cursor: pointer;

-webkit-font-smoothing: antialiased;

text-rendering: optimizeLegibility;

-moz-osx-font-smoothing: grayscale;

font-feature-settings: 'liga';
}

.material-icons:hover{
color: #0d99fe;
}

.selected{
background-color: black;
}

.hidden{
display:none !important;
}

}

